*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
background-color: #ccc;
}
.container{
    margin:0 auto;
    max-width: 900px;
}
.apply-box{
    max-width :600px;
    padding: 20px;
    background-color: white;
    margin:0 auto;
    margin-top: 50px;
    box-shadow:5px 4px 6px rgba(1, 1,1, 0.3);
    border-radius: 2px;
}
.apply-box h1{
    text-align: center;
}
.form-container{
margin-top: 20px;
border: 1px solid #ccc;
     display: grid;
grid-template-columns: repeat(auto-fit,minmax(200px,1fr));    
gap:20px; 
padding:20px 20px;
}
.form-control{
    display: flex;
    flex-direction: column;
}
.textarea-control{
    grid-column: 1/span 2;

}
.textarea-control textarea{
    width: 100%;
    max-width: 520px;
}
label{
    font-size: 18px;
    font-weight :700px;
    margin-bottom: 5px  ;
}
input, select, textarea{
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input:focus{
    outline-color: rgb(0, 0, 255);
}
.button-container{
    margin-top: 15px;
    display: flex;
    justify-content:center;
}
button{
    background-color: blue;
    border-radius: 4px;
    padding :10px 15px;
    color: white;
}
button:hover{
    border:1px blue;
background-color: rgb(114, 191, 253);
color: white;
cursor: pointer;
}

@media(max-width:460px){
    .textarea-control{
        grid-column: 1/span 1;
    }
};